---
BasedOnStyle: LLVM
IndentWidth: 4
BinPackArguments: false
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlignArrayOfStructures: Left
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
---
Language: Cpp
---
Language: ObjC
